﻿@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="item" align="center"><center><img src="images/kk.jpg" width="500" height="300"></center>
    <h1>Eagle Computer</h1>
    <p class="lead"> Eagle Computer işletmeciliği olarak öncelikli hedefimiz Türkiye'nin birçok şehrine sağlam,
    güvenilir ve hızlı bir şekilde bilgisayar donanım parçalarını kazandırabilmek.Sitemizde </p>
</div>

<div class="container">
    <div class="row">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="2000">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">

                <div class="item active">
                    <img src="images/1.png" alt="Fakulte Genel Gorunumu">
                    <div class="carousel-caption img-responsive">
                    </div>
                </div>
                <div class="item">
                    <img src="images/2.jpg" alt="Siniflarimiz">
                    <div class="carousel-caption img-responsive">
                    </div>
                </div>
                <div class="item">
                    <img src="images/3.jpg" alt="Bolum Hocalarimiz">
                    <div class="carousel-caption img-responsive">
                    </div>
                </div>
                <div class="item">
                    <img src="images/4.jpg" alt="Canlarimiz">
                    <div class="carousel-caption img-responsive">
                    </div>
                </div>


            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading"><span class="fa fa-user"></span><h1>Duyurular</h1></div>
                        <div class="panel-body">
                            <h2>Duyurular</h2>
                            <h3>İndirime Giren Ürünler </h3>
                            <p>-8GB DDR4 Ram 119TL </p>
                            <p>-4GB GDDR5 Nvidia GTX 950M Ekran Kartı 999TL </p>
                            <p>-2TB Hard Disk 249TL </p>
                            <h2>Stokları Sınırlı Ürünler</h2>
                            <p>-intel core i7-6700HQ,up to 3.5GHz</p>
                            <p>-2GB GDDR4 Nvidia GEFORCE 940M Ekran Kartı</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading"><span class="fa fa-user"></span> <h1>Yorumlar</h1></div>
                        <div class="panel-body">
                            <p>Ürünler ve şirketimizin hizmeti hakkında yorumlarınızı bildiriniz.</p>
                            <table>
                                <tr>
                                    <td>
                                        İsminiz :
                                    </td>
                                    <td> <input type="text" id="isim" name="isim"></td>
                                </tr>
                                <tr><td>Yorumunuz : </td><td> <input type="text" id="yorum" name="yorum"></td></tr>
                                <tr><td><input type="submit" class=" pad5 btn btn-success btn-block" value="Yorum Yap" /> </td><td> <a href="yorumlar.php" class="btn btn-success btn-block">Tüm Yorumlar »</a></td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading"><span class="fa fa-user"></span><h2>Hesap Kitap</h2></div>
                        <div class="panel-body">
                            <script language="javascript" src="http://is.sitekodlari.com/hesapmakinesi3.js"></script><br><h1>Ürünlerin Fiyatlarını Buradan Hesaplayabilirsiniz...</h1> <a href="http://www.sitekodlari.com/hesapmakinesikodu.php"><font size="1"></font></a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading"><span class="fa fa-user"></span> <h4>Bizi Takip Edin</h4></div>
                        <div class="panel-body">
                            <script language="javascript" src="http://is.sitekodlari.com/paylas1.js"></script>
                            <!-- Sayaclar.com Code Start  -->
                            <div align="center">
                            <script language="Javascript" src="http://sa.sayaclar.com/c/s3.php?a=vf72u4j&s=1a4"></script><br /><a href="http://sayaclar.com" title="Sayaçlar">Ziyaretçi Sayımız</a></div>
                            <!-- Sayaclar.com Code End -->
                        </div>
                    </div>

                </div>
            </div>
