﻿@{
    ViewBag.Title = "Ram";
}

<h3>@ViewBag.Message</h3>

<div class="jumbotron"><img src="images/r.jpg">
    <h1>Eagle Computer Dizüstü ve Masaüstü Bilgisayarlar için birbirinden farklı ram çeşitleri</h1>
    <p class="lead"> Elimizde bulunan </p>
</div>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>



